
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table tbody tr {
  &:hover {
    background-color: #eaeaea;
  }
}

.table th {
  font-weight: bold;
  padding: 10px;
  text-align: left;

  &:nth-child(1) {
    width: 60px;
  }

  &:nth-child(3) {
    width: 300px;
  }
}

.table td {
  padding: 10px;
}

tbody {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}